@media (max-width: 768px) and (orientation: portrait) {
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    h4 {
        font-size: 13px;
    }
    h5 {
        font-size: 12px;
    }
    p {
        font-size: 14px;
    }

    .banner {
        background-image: url('../images/banner-mobile.jpg');
    }

    .nav {
        width: 90.08%;
        display: flex;
        flex-direction: column;
        margin: 3.33em auto;
        align-items: flex-end;
        justify-content: center;
    }
    .menu {
        display: none;
    }
    .logo {
        width: 100%;
        height: 100%;
        padding: 30px;
        margin-top: 57%;
    }

    .banner-title {
        width: 76%;
        padding-bottom: 8.3em;
    }

    .wrapper {
        flex-direction: column;
    }

    .article {
        width: 100%;
        height: 20em;
        padding: 1.8em;
    }

    /*CSS style for BLOCK*/
    .block {
        display: flex;
        width: 91.5%;
        flex-direction: column;
        margin: 4em auto 0 auto;
    }

    /*CSS style for POSTS*/
    .post {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .post::before {
        content: "";
        position: absolute;
        bottom: -25px;
        width: 100%;
        height: 3px;
        background-color: #ededed;
    }

    /*CSS style for SHOP*/
    .shop {
        width: 91.5%;
    }

    .shop-items {
        width: 100%;
        flex-direction: column;
    }

    .shop-item {
        width: 100%;
        margin-top: 76%;
        margin-bottom: 1.5em;
    }

    .shop-item__container {
        bottom: 78.5%;
        width: 100%;
        height: 123.5%;
        padding: 0 1.4em 100% 1.4em;

    }

    .shop-item__container::before {
        padding-top: 100%;
    }

    /*CSS style for FOOTER*/
    .socials {
        width: 91.5%;
    }
}

@media (min-width: 360px) and (max-width: 768px) and (orientation: landscape) {
    body {
        font-size: 14px;
    }
    .banner {
        background-image: url('../images/banner-bg-tablet.jpg');
    }
    .menu {
        display: none;
    }
    .nav {
        width: 92%;
        display: flex;
        flex-direction: column;
        margin: 3.33em auto;
        align-items: flex-end;
        justify-content: center;
    }

    /*CSS style for SHOP*/
    .shop {
        width: 91.5%;
    }

    .shop-items {
        width: 100%;
        flex-direction: column;
    }

    .shop-item {
        width: 100%;
        margin-top: 50%;
    }

    .shop-item__img {
        bottom: 78.5%;
        width: 100%;
        padding: 0.7em 1.25em;
    }

    /*CSS style for FOOTER*/
    .socials {
        width: 90.9%;
    }
}

@media (min-width: 769px) and (max-width: 1659px) {
    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 12px;
    }

    p {
        font-size: 15px;
    }


    .banner {
        background-image: url('../images/banner-bg-tablet.jpg');
    }

    .nav {
        width: 92%;
        flex-direction: row-reverse;
        margin: 3.33em auto;
        align-items: flex-end;
        justify-content: space-between;
    }

    .menu {
        display: none;
    }

    .logo {
        width: 22.41%;
        margin-top: 2.37%;
    }

    .intro {
        margin-bottom: 4.5em;
    }

    .banner-title {
        width: 82%;
        text-align: center;
        margin: 1.5em auto;
    }

    .wrapper {
        flex-wrap: wrap;
        gap: 0.4em;
    }

    .article {
        /*width: calc((100% - 0.4em)/2);*/
        width: 50%;
        height: 20.5em;
        padding: 1.4em;
        /*position: relative;*/
    }

    /*CSS style for BLOCK*/
    .block {
        /*display: flex;*/
        width: 70.48%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4em;
    }

    /*CSS style for SHOP*/
    .shop {
        width: 90.8%;
    }

    .shop-items {
        width: 100%;
        flex-wrap: wrap;
        gap: 1.4em;
    }

    .shop-item {
        width: calc((100% - 1.4em) / 2);
        margin-top: 77.5%;
    }

    .shop-item__img {
        bottom: 78.5%;
        width: 100%;
        padding: 0.7em 1.25em;
    }

    /*CSS style for FOOTER*/
    .socials {
        width: 90.8%;
    }
}






/*----The Biggest screen---*/
@media (min-width: 1660px) {
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 14px;
    }
    h4 {
        font-size: 13px;
    }
    h5 {
        font-size: 12px;
    }
    p {
        font-size: 15px;
    }
    .banner {
        background-image: url('../images/banner-bg.jpg');
        padding: 1.2% 14.94%;
    }

    .nav {
        flex-direction: row-reverse;
        margin-top: 1.2%;
        justify-content: space-between;
        align-items: center;
    }

    .menu-burger {
        display: none;
    }

    .logo {
        width: 15.36%;
        margin: 1.2% 0;
    }

    .banner-title {
        width: 61%;
        vertical-align: bottom;
        margin: 2.33em auto;
    }

    .article {
        width: 25%;
        height: 22.5em;
        padding: 1.5em;
    }

    /*CSS style for BLOCK*/
    .block {
        width: 70.48%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
    /*CSS style for POSTS*/
    .post-list {
        width: 64.95%;
    }

    .post-inner {
        width: 68.65%
    }

    .post-box {
        width: 50%;
        /*padding-left: 2em;*/
    }

    /*CSS style for SIDEBAR*/
    .sidebar {
        width: 23.08%;
    }

    /*CSS style for SHOP*/
    .shop {
        width: 70.48%
    }

    shop-items {
        width: 70.48%;
    }

    .shop-item {
        width: 33%;
        margin-top: 14.5%;
        /*padding: 0.25em 1.25em;*/
    }

    .shop-item:nth-child(3n+2) {
        margin-left: 4em;
        margin-right: 4em;
    }

    .shop-item__container {
        bottom: 78.5%;
        width: 100%;
        padding: 0.7em 1.25em;
    }

    /*CSS style for FOOTER*/
    .socials {
        width: 70.48%;
    }
}